* {
  padding: 0px;
  margin: 0px;
}

/* Following styling for background */
body {
  /* Location of the image */
 background-image: url("../images/blueCrystal.jpg");

 /* Background image is centered vertically and horizontally at all times */
 background-position: center center;

 /* Background image doesn't tile */
 background-repeat: no-repeat;

 /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
 background-attachment: fixed;

 /* This is what makes the background image rescale based
    on the container's size */
 background-size: cover;

 /* background color displayed while background image is loading */
 background-color: #ffffff;
}


/* Following is nav menu styling 12-24-19 12:45pm sw */
ul.horizontal {
    list-style-type: none;
    margin: 0;
    margin-top: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li a:hover {
    background-color: blue;
}

ul.horizontal li a.active {
background-color: #F827F6;   /* optionable other color I liked #1FBED6 */
}

ul.horizontal2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul.horizontal2 li {
    float: left;
}

ul.horizontal2 li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal2 li a:hover:not(.active) {
    background-color: #ddd;
}

ul.horizontal2 a.active {
    color: white;
    background-color: #0AF6FB;
}

.copyright {
  color: #ffffff;
}
